@import url(https://fonts.googleapis.com/css?family=Raleway:300,200);

body, html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Raleway;
    font-weight: 300;
    background: url("/static/background.jpg");
    background-size: cover;
    color: #eee;
}
h1 {
    font-weight: 200;
    font-size: 30px;
    position: fixed;
    width: 100%;
    text-align: center;
    top: calc(50% - 30px);
    text-shadow: 0px 0px 10px #000;
}
#controls {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #222;
    padding: 0px;
    margin: 0px;
    box-shadow: 0px 0px 10px #000;
    padding-left: 5px;
}
#currentListeners {
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
    font-size: 20px;
}
.button {
    height: 20px;
    width: 20px;
    padding: 10px;
    padding-right: 15px;
    opacity: .8;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    border-right: 1px solid #444;
    cursor: pointer;
    transform: opacity .25s;
}
.button:hover {
    opacity: 1;
}